<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Images</title>
  <link rel="stylesheet" href="/statics/css/images.css">
</head>
<body>
  <header>
    <div class="title">
      <h1>Images</h1>
    </div>
  </header>

  <main>
    <div class="main-container">
      <div id="posts" class="posts">
        
      </div>
      <a href="#" class="load-more-data">Load More Data</a>
    </div>
  </main>

  <script src="/statics/js/images.js"></script>
</body>
</html>